openapi: 3.0.0
info:
  title: Recurly V3 API
  description: Manage Recurly accounts, plans, subscriptions, invoices, coupons and transactions through the Recurly V3 REST API (v2021-02-25).
  version: v2021-02-25
servers:
- url: https://v3.recurly.com
- url: https://v3.eu.recurly.com
security:
- api_key: []
tags:
- name: account
  description: Accounts are core to managing your customers inside of Recurly. The account object stores the entire Recurly history of your customer and acts as the entry point for working with a customer's billing information, subscription data, transactions, invoices and more.
  x-displayName: Account
- name: note
  description: Account notes allow your team to leave notes on an account to add context, e.g. the reason for a refund, customer requests, and/or complaints. These notes are internal and not exposed to your customers.
  x-displayName: Account Note
- name: account_acquisition
  description: Recurly offers the ability to record marketing data on customer accounts to match this data with revenue and billing data events in Recurly.
  x-displayName: Account Acquisition Info
- name: billing_info
  description: Without the premium Wallet feature, an account can only have one stored payment method at a time. Examples include credit cards, PayPal, or bank accounts. Billing info is filled out by the customer upon purchase or when they update their information.
  x-displayName: Billing Info
- name: billing_infos
  description: If the premium Wallet feature is enabled, an account can have multiple payment methods stored. Examples include credit cards, PayPal, or bank accounts. Primary or backup billing infos can be designated from these endpoints.
  x-displayName: Billing Infos
- name: coupon_redemption
  description: Coupon redemptions are created when a coupon is applied to an account or subscription. This allows you to track your promotions.
  x-displayName: Coupon Redemption
- name: subscription
  description: Subscriptions are created when your customers subscribe to one of your plans. The customer's subscription tells Recurly when and how much to bill the customer.
  x-displayName: Subscription
- name: subscription_change
  description: Subscription changes alter subscription in a way that might affect the invoiced amount, such as changing the plan, add-ons, quantities, or shipping address. Changes can be made immediately in the current billing cycle or scheduled to take place at the next renewal.
  x-displayName: Subscription Change
- name: usage
  description: Send Recurly your customer usage and we will automatically bill them in arrears at the end of the billing cycle. For more info on usage-based billing, [click here](https://docs.recurly.com/docs/usage-based-billing).
  x-displayName: Usage
- name: shipping_address
  description: Shipping addresses are tied to a customer's account. Each account can have up to 20 different shipping addresses, and if you have enabled multiple subscriptions per account, you can associate different shipping addresses to each subscription.
  x-displayName: Shipping Address
- name: purchase
  description: A purchase is a checkout containing at least one or more subscriptions or one-time charges (line items) and supports both coupon and gift card redemptions. All items purchased will be on one invoice and paid for with one transaction. The purchases endpoint can also be used to immediately create a credit invoice on an account, when Credit Invoices is enabled on your site.
  x-displayName: Purchase
- name: invoice
  description: An invoice relates charges, credits, and payments together. When a subscription is created or renewed or a charge is created on the account, Recurly will sum the charges, discount or tax as appropriate, and send the invoice out for collection.
  x-displayName: Invoice
- name: line_item
  description: Line items are the charges and credits on your customer's invoices.
  x-displayName: Line Item
- name: credit_payment
  x-displayName: Credit Payment
- name: transaction
  description: Purchasing information is sent to your payment gateway in an action called a transaction. This includes the customer's billing information and the amount of money to be charged, voided, or refunded.
  x-displayName: Transaction
- name: revenue_recovery
  description: Revenue recovery
  x-displayName: Revenue Recovery
- name: gift_cards
  description: Add gift card purchases to your checkout and allow gift card recipients to redeem the gift card for credit towards any of your products.
  x-displayName: Gift Cards
- name: item
  description: 'For merchants who sell the same things to many customers, documenting those offerings in a catalog allows for faster charge creation, easier management of offerings, and analytics about your offerings across all sales channels. Because your offerings can be physical, digital, or service-oriented, Recurly collectively calls these offerings "Items".


    Recurly''s item catalog requires the Credit Invoices feature to be enabled.'
  x-displayName: Item
- name: plan
  description: A plan tells Recurly how often and how much to charge your customers. Plans can be created with free trials, optional products (called add-ons), setup fees, and more.
  x-displayName: Plan
- name: add-on
  description: An add-on is a charge billed each billing period in addition to a subscription’s base charge. Each plan may have one or more add-ons associated with it.
  x-displayName: Add-on
- name: measured_unit
  description: A measured unit describes a usage-based add-on's usage. If different usage-based add-ons share the same measured unit, you can report on customer usage for those add-ons at the aggregated measured unit level.
  x-displayName: Measured Unit
- name: coupon
  description: Coupons can either be single codes that easily allow mass distribution by many customers or bulk coupons that can generate many unique coupons that can allow for individual delivery and tracking.
  x-displayName: Coupon
- name: unique_coupon_code
  description: Unique coupon codes are generated from bulk coupons.
  x-displayName: Unique Coupon Code
- name: price_segment
  x-displayName: Price Segment
- name: site
  x-displayName: Site
- name: custom_field_definition
  description: Describes the fields that can be used as custom fields on accounts, items, line-items (one time charges), plans, or subscriptions.
  x-displayName: Custom Field Definition
- name: shipping_method
  description: Shipping methods offered to send products to customers.
  x-displayName: Shipping Method
- name: dunning_campaigns
  description: Settings used when attempting to dun customers whose payments are declined.
  x-displayName: Dunning Campaigns
- name: business_entities
  description: Describes the business address that will be used for invoices and taxes depending on settings and subscriber location.
  x-displayName: Business Entities
- name: automated_exports
  description: Automated exports of customer data.
  x-displayName: Automated Exports
- name: general_ledger_account
  description: "A general ledger account is an account of record used to sort, store\nand summarize a company's transactions. Recurly supports the balance\nsheet (Liability) account and income (Revenue) account to be attached\nto business entities, plans, or at the item level.\n\nWhen invoices are created, system can default to the accounts based\non the GL Accounts attached at the plan/item level. The accounts can\nbe defaulted from the business entity level as well.\n\nThese accounts will be used in the Revenue Recognition module to create\nthe revenue journals that can be posted into Merchant GL system.\n\nRevenue and Liability accounts can defined in the system using this\nAPI or via the General Ledger Accounting page in the Admin UI and then\nused at the plan/item level.\n\nRecurly allows merchants to default the accounts at the following levels:\n- Business Entities (default)\n- Plans\n    - Base Price\n    - Setup Fee\n    - Add-ons\n- Items\n- Charges\n- Gift Cards\n- Shipping Methods\n\
    - Credits\n\nIf you are interested in Recurly Revenue Recognition features, please\ncontact a Recurly customer service representative.\n"
  x-displayName: General Ledger Account
- name: performance_obligations
  description: "A performance obligation is a promise to provide a distinct good or\nservice or a series of distinct goods or services as defined by the revenue standard.\nPerformance obligations are completed and revenue is recognized either at a point in\ntime or over a period of time, depending on the type of obligation.\n- Point in time  a company has to go through the criteria and determine if a performance\nobligation is satisfied over time. If it does not meet those criteria, then the performance\nobligation is satisfied and revenue recognized at the point in time when control of the good\nor service is transferred to the customer.\n- Over a period of time  a performance obligation is satisfied and revenue is recognized over\ntime if at least one of the following are met:\n  - The customer receives and consumes the benefits of the goods or services as they are provided\n  by the entity (routine, recurring services like a cleaning service are an example of a series of\n  services that\
    \ are substantially the same and have the same pattern of transfer)\n"
  x-displayName: Performance Obligations
- name: invoice_templates
  x-displayName: Invoice Templates
- name: external_subscriptions
  description: A subscription from an external resource that is not managed by the Recurly platform and instead is managed by third-party platforms like Apple App Store and Google Play Store.
  x-displayName: External Subscription
- name: external_invoices
  description: An invoice from an external resource that is not managed by the Recurly platform and instead is managed by third-party platforms like Apple App Store and Google Play Store.
  x-displayName: External Invoice
- name: external_products
  description: A product from an external resource that is not managed by the Recurly platform and instead is managed by third-party platforms like Apple App Store and Google Play Store.
  x-displayName: External Product
- name: external_accounts
  description: An account from an external resource that is not managed by the Recurly platform and instead is managed by third-party platforms like Apple App Store and Google Play Store.
  x-displayName: External Account
- name: external_product_references
  description: Associates an external product to a corresponding resource on an external platform like the Apple App Store or Google Play Store.
  x-displayName: External Product Reference
- name: external_payment_phases
  description: Details of payments in the lifecycle of a subscription from an external resource that is not managed by the Recurly platform, e.g. App Store or Google Play Store.
  x-displayName: External Payment Phase
paths:
  /sites:
    get:
      tags:
      - site
      summary: List sites
      description: 'This route is most useful for finding a site''s ID for subsequent requests.


        See the [Pagination Guide](/developers/guides/pagination.html) to learn how to use pagination in the API and Client Libraries.

        '
      operationId: listSites
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/sort_dates'
      - $ref: '#/components/parameters/filter_state'
      responses:
        '200':
          description: A list of sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteList'
        '400':
          description: Invalid or unpermitted parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Node.js
        source: "const sites = client.listSites({ params: { limit: 200 } })\n\nfor await (const site of sites.each()) {\n  console.log(site.subdomain)\n}\n"
      - lang: Python
        source: "params = {\"limit\": 200}\nsites = client.list_sites(params=params).items()\nfor site in sites:\n    print(site.subdomain)\n"
      - lang: .NET
        source: "var optionalParams = new ListSitesParams()\n{\n    Limit = 200\n};\nvar sites = client.ListSites(optionalParams);\nforeach(Site site in sites)\n{\n    Console.WriteLine(site.Subdomain);\n}\n"
      - lang: Ruby
        source: "params = {\n  limit: 200\n}\nsites = @client.list_sites(params: params)\nsites.each do |site|\n  puts \"Site: #{site.subdomain}\"\nend\n"
      - lang: Java
        source: "ListSitesParams params = new ListSitesParams();\nparams.setLimit(200); // Pull 200 records at a time\nfinal Pager<Site> sites = client.listSites(params);\n\nfor (Site site : sites) {\n    System.out.println(site.getSubdomain());\n}\n"
      - lang: PHP
        source: "$options = [\n  'params' => [\n    'limit' => 200\n  ]\n];\n$sites = $client->listSites($options);\n\nforeach($sites as $site) {\n  echo 'Site: ' . $site->getSubdomain() . PHP_EOL;\n}\n"
      - lang: Go
        source: "listParams := &recurly.ListSitesParams{\n\tSort:  recurly.String(\"created_at\"),\n\tOrder: recurly.String(\"asc\"),\n\tLimit: recurly.Int(200),\n}\n\nsites, err := client.ListSites(listParams)\nif err != nil {\n\tfmt.Println(\"Unexpected error: %v\", err)\n\treturn\n}\n\nfor sites.HasMore() {\n\terr := sites.Fetch()\n\tif e, ok := err.(*recurly.Error); ok {\n\t\tfmt.Printf(\"Failed to retrieve next page: %v\", e)\n\t\tbreak\n\t}\n\tfor i, site := range sites.Data() {\n\t\tfmt.Printf(\"Site %3d: %s, %s\\n\",\n\t\t\ti,\n\t\t\tsite.Id,\n\t\t\tsite.Subdomain,\n\t\t)\n\t}\n}"
      x-readme:
        code-samples:
        - language: node
          code: "const sites = client.listSites({ params: { limit: 200 } })\n\nfor await (const site of sites.each()) {\n  console.log(site.subdomain)\n}\n"
          name: Node.js
        - language: python
          code: "params = {\"limit\": 200}\nsites = client.list_sites(params=params).items()\nfor site in sites:\n    print(site.subdomain)\n"
          name: Python
        - language: csharp
          code: "var optionalParams = new ListSitesParams()\n{\n    Limit = 200\n};\nvar sites = client.ListSites(optionalParams);\nforeach(Site site in sites)\n{\n    Console.WriteLine(site.Subdomain);\n}\n"
          name: .NET
        - language: ruby
          code: "params = {\n  limit: 200\n}\nsites = @client.list_sites(params: params)\nsites.each do |site|\n  puts \"Site: #{site.subdomain}\"\nend\n"
          name: Ruby
        - language: java
          code: "ListSitesParams params = new ListSitesParams();\nparams.setLimit(200); // Pull 200 records at a time\nfinal Pager<Site> sites = client.listSites(params);\n\nfor (Site site : sites) {\n    System.out.println(site.getSubdomain());\n}\n"
          name: Java
        - language: php
          code: "$options = [\n  'params' => [\n    'limit' => 200\n  ]\n];\n$sites = $client->listSites($options);\n\nforeach($sites as $site) {\n  echo 'Site: ' . $site->getSubdomain() . PHP_EOL;\n}\n"
          name: PHP
        - language: go
          code: "listParams := &recurly.ListSitesParams{\n\tSort:  recurly.String(\"created_at\"),\n\tOrder: recurly.String(\"asc\"),\n\tLimit: recurly.Int(200),\n}\n\nsites, err := client.ListSites(listParams)\nif err != nil {\n\tfmt.Println(\"Unexpected error: %v\", err)\n\treturn\n}\n\nfor sites.HasMore() {\n\terr := sites.Fetch()\n\tif e, ok := err.(*recurly.Error); ok {\n\t\tfmt.Printf(\"Failed to retrieve next page: %v\", e)\n\t\tbreak\n\t}\n\tfor i, site := range sites.Data() {\n\t\tfmt.Printf(\"Site %3d: %s, %s\\n\",\n\t\t\ti,\n\t\t\tsite.Id,\n\t\t\tsite.Subdomain,\n\t\t)\n\t}\n}"
          name: Go
  /sites/{siteId}:
    get:
      tags:
      - site
      summary: Fetch a site
      operationId: getSite
      parameters:
      - $ref: '#/components/parameters/site_id'
      responses:
        '200':
          description: A site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '404':
          description: Incorrect site ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Node.js
        source: "try {\n  const site = await client.getSite(siteId)\n  console.log('Fetched site: ', site)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
      - lang: Python
        source: "try:\n    site = client.get_site(site_id)\n    print(\"Got Site %s\" % site)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
      - lang: .NET
        source: "try\n{\n    Site site = client.GetSite(siteId);\n    Console.WriteLine($\"Fetched site {site.Id}\");\n}\ncatch (Recurly.Errors.NotFound ex)\n{\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    Console.WriteLine($\"Resource Not Found: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
      - lang: Ruby
        source: "begin\n  site = @client.get_site(site_id: site_id)\n  puts \"Got Site #{site}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
      - lang: Java
        source: "try {\n    final Site site = client.getSite(siteId);\n    System.out.println(\"Fetched site: \" + site.getId());\n  } catch (NotFoundException e) {\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    System.out.println(\"Resource Not Found: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
      - lang: PHP
        source: "try {\n    $site = $client->getSite($site_id);\n\n    echo 'Got Site:' . PHP_EOL;\n    var_dump($site);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
      - lang: Go
        source: "site, err := client.GetSite(siteID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Fetched Site: %s\", site.Id)"
      x-readme:
        code-samples:
        - language: node
          code: "try {\n  const site = await client.getSite(siteId)\n  console.log('Fetched site: ', site)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          name: Node.js
        - language: python
          code: "try:\n    site = client.get_site(site_id)\n    print(\"Got Site %s\" % site)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
          name: Python
        - language: csharp
          code: "try\n{\n    Site site = client.GetSite(siteId);\n    Console.WriteLine($\"Fetched site {site.Id}\");\n}\ncatch (Recurly.Errors.NotFound ex)\n{\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    Console.WriteLine($\"Resource Not Found: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          name: .NET
        - language: ruby
          code: "begin\n  site = @client.get_site(site_id: site_id)\n  puts \"Got Site #{site}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
          name: Ruby
        - language: java
          code: "try {\n    final Site site = client.getSite(siteId);\n    System.out.println(\"Fetched site: \" + site.getId());\n  } catch (NotFoundException e) {\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    System.out.println(\"Resource Not Found: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          name: Java
        - language: php
          code: "try {\n    $site = $client->getSite($site_id);\n\n    echo 'Got Site:' . PHP_EOL;\n    var_dump($site);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
          name: PHP
        - language: go
          code: "site, err := client.GetSite(siteID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Fetched Site: %s\", site.Id)"
          name: Go
  /accounts:
    get:
      tags:
      - account
      summary: List a site's accounts
      description: See the [Pagination Guide](/developers/guides/pagination.html) to learn how to use pagination in the API and Client Libraries.
      operationId: listAccounts
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/sort_dates'
      - $ref: '#/components/parameters/filter_begin_time'
      - $ref: '#/components/parameters/filter_end_time'
      - $ref: '#/components/parameters/filter_account_email'
      - $ref: '#/components/parameters/filter_account_subscriber'
      - $ref: '#/components/parameters/filter_account_past_due'
      responses:
        '200':
          description: A list of the site's accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        '400':
          description: Invalid or unpermitted parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Incorrect site ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Node.js
        source: "const accounts = client.listAccounts({ params: { limit: 200 } })\n\nfor await (const account of accounts.each()) {\n  console.log(account.code)\n}\n"
      - lang: Python
        source: "params = {\"limit\": 200}\naccounts = client.list_accounts(params=params).items()\nfor account in accounts:\n    print(account.code)\n"
      - lang: .NET
        source: "var optionalParams = new ListAccountsParams()\n{\n    Limit = 200\n};\nvar accounts = client.ListAccounts(optionalParams);\nforeach(Account account in accounts)\n{\n    Console.WriteLine(account.Code);\n}\n"
      - lang: Ruby
        source: "params = {\n  limit: 200\n}\naccounts = @client.list_accounts(params: params)\naccounts.each do |account|\n  puts \"Account: #{account.code}\"\nend\n"
      - lang: Java
        source: "ListAccountsParams params = new ListAccountsParams();\nparams.setLimit(200); // Pull 200 records at a time\nPager<Account> accounts = client.listAccounts(params);\n\nfor (Account acct : accounts) {\n    System.out.println(acct.getCode());\n}\n"
      - lang: PHP
        source: "$options = [\n  'params' => [\n    'limit' => 200\n  ]\n];\n$accounts = $client->listAccounts($options);\n\nforeach($accounts as $account) {\n  echo 'Account code: ' . $account->getCode() . PHP_EOL;\n}\n"
      - lang: Go
        source: "listParams := &recurly.ListAccountsParams{\n\tSort:  recurly.String(\"created_at\"),\n\tOrder: recurly.String(\"desc\"),\n\tLimit: recurly.Int(200),\n}\naccounts, err := client.ListAccounts(listParams)\nif err != nil {\n\tfmt.Println(\"Unexpected error: %v\", err)\n\treturn\n}\n\nfor accounts.HasMore() {\n\terr := accounts.Fetch()\n\tif e, ok := err.(*recurly.Error); ok {\n\t\tfmt.Printf(\"Failed to retrieve next page: %v\", e)\n\t\tbreak\n\t}\n\tfor i, account := range accounts.Data() {\n\t\tfmt.Printf(\"Account %3d: %s, %s\\n\",\n\t\t\ti,\n\t\t\taccount.Id,\n\t\t\taccount.Code,\n\t\t)\n\t}\n}"
      x-readme:
        code-samples:
        - language: node
          code: "const accounts = client.listAccounts({ params: { limit: 200 } })\n\nfor await (const account of accounts.each()) {\n  console.log(account.code)\n}\n"
          name: Node.js
        - language: python
          code: "params = {\"limit\": 200}\naccounts = client.list_accounts(params=params).items()\nfor account in accounts:\n    print(account.code)\n"
          name: Python
        - language: csharp
          code: "var optionalParams = new ListAccountsParams()\n{\n    Limit = 200\n};\nvar accounts = client.ListAccounts(optionalParams);\nforeach(Account account in accounts)\n{\n    Console.WriteLine(account.Code);\n}\n"
          name: .NET
        - language: ruby
          code: "params = {\n  limit: 200\n}\naccounts = @client.list_accounts(params: params)\naccounts.each do |account|\n  puts \"Account: #{account.code}\"\nend\n"
          name: Ruby
        - language: java
          code: "ListAccountsParams params = new ListAccountsParams();\nparams.setLimit(200); // Pull 200 records at a time\nPager<Account> accounts = client.listAccounts(params);\n\nfor (Account acct : accounts) {\n    System.out.println(acct.getCode());\n}\n"
          name: Java
        - language: php
          code: "$options = [\n  'params' => [\n    'limit' => 200\n  ]\n];\n$accounts = $client->listAccounts($options);\n\nforeach($accounts as $account) {\n  echo 'Account code: ' . $account->getCode() . PHP_EOL;\n}\n"
          name: PHP
        - language: go
          code: "listParams := &recurly.ListAccountsParams{\n\tSort:  recurly.String(\"created_at\"),\n\tOrder: recurly.String(\"desc\"),\n\tLimit: recurly.Int(200),\n}\naccounts, err := client.ListAccounts(listParams)\nif err != nil {\n\tfmt.Println(\"Unexpected error: %v\", err)\n\treturn\n}\n\nfor accounts.HasMore() {\n\terr := accounts.Fetch()\n\tif e, ok := err.(*recurly.Error); ok {\n\t\tfmt.Printf(\"Failed to retrieve next page: %v\", e)\n\t\tbreak\n\t}\n\tfor i, account := range accounts.Data() {\n\t\tfmt.Printf(\"Account %3d: %s, %s\\n\",\n\t\t\ti,\n\t\t\taccount.Id,\n\t\t\taccount.Code,\n\t\t)\n\t}\n}"
          name: Go
    post:
      tags:
      - account
      summary: Create an account
      operationId: createAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreate'
        required: true
        description: 'Request payload for: Create an account'
      responses:
        '201':
          description: An account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Bad request, perhaps invalid JSON?
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Incorrect site ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Invalid parameters or an error running the billing info verification transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Node.js
        source: "try {\n  const accountCreate = {\n    code: accountCode,\n    firstName: 'Benjamin',\n    lastName: 'Du Monde',\n    preferredTimeZone: 'America/Chicago',\n    address: {\n      street1: '900 Camp St',\n      city: 'New Orleans',\n      region: 'LA',\n      postalCode: '70115',\n      country: 'US'\n    }\n  }\n  const account = await client.createAccount(accountCreate)\n  console.log('Created Account: ', account.code)\n} catch (err) {\n  if (err instanceof recurly.errors.ValidationError) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    console.log('Failed validation', err.params)\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
      - lang: Python
        source: "try:\n    account_create = {\n        \"code\": account_code,\n        \"first_name\": \"Benjamin\",\n        \"last_name\": \"Du Monde\",\n        \"preferred_time_zone\": \"America/Chicago\",\n        \"acquisition\": {\n            \"campaign\": \"podcast-marketing\",\n            \"channel\": \"social_media\",\n            \"subchannel\": \"twitter\",\n            \"cost\": {\"currency\": \"USD\", \"amount\": 0.50},\n        },\n        \"shipping_addresses\": [\n            {\n                \"nickname\": \"Home\",\n                \"street1\": \"1 Tchoupitoulas St\",\n                \"city\": \"New Orleans\",\n                \"region\": \"LA\",\n                \"country\": \"US\",\n                \"postal_code\": \"70115\",\n                \"first_name\": \"Aaron\",\n                \"last_name\": \"Du Monde\",\n            }\n        ],\n    }\n    account = client.create_account(account_create)\n    print(\"Created Account %s\" % account)\nexcept recurly.errors.ValidationError\
          \ as e:\n    # If the request was invalid, you may want to tell your user\n    # why. You can find the invalid params and reasons in e.error.params\n    print(\"ValidationError: %s\" % e.error.message)\n    print(e.error.params)\n"
      - lang: .NET
        source: "try\n{\n    var accountReq = new AccountCreate()\n    {\n        Code = accountCode,\n        FirstName = \"Benjamin\",\n        LastName = \"Du Monde\",\n        PreferredTimeZone = \"America/Chicago\",\n        Address = new Address()\n        {\n            City = \"New Orleans\",\n            Region = \"LA\",\n            Country = \"US\",\n            PostalCode = \"70115\",\n            Street1 = \"900 Camp St.\"\n        }\n    };\n    Account account = client.CreateAccount(accountReq);\n    Console.WriteLine($\"Created account {account.Code}\");\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\"\
          );\n}\n"
      - lang: Ruby
        source: "begin\n  account_create = {\n    code: account_code,\n    first_name: \"Benjamin\",\n    last_name: \"Du Monde\",\n    preferred_time_zone: \"America/Chicago\",\n    acquisition: {\n      campaign: \"podcast-marketing\",\n      channel: \"social_media\",\n      subchannel: \"twitter\",\n      cost: {\n        currency: \"USD\",\n        amount: 0.50\n      }\n    },\n    shipping_addresses: [\n      {\n        nickname: \"Home\",\n        street1: \"1 Tchoupitoulas St\",\n        city: \"New Orleans\",\n        region: \"LA\",\n        country: \"US\",\n        postal_code: \"70115\",\n        first_name: \"Benjamin\",\n        last_name: \"Du Monde\"\n      }\n    ]\n  }\n  account = @client.create_account(body: account_create)\n  puts \"Created Account #{account}\"\nrescue Recurly::Errors::ValidationError => e\n  # If the request was invalid, you may want to tell your user\n  # why. You can find the invalid params and reasons in e.recurly_error.params\n  puts \"ValidationError:\
          \ #{e.recurly_error.params}\"\nend\n"
      - lang: Java
        source: "try {\n    AccountCreate accountReq = new AccountCreate();\n    Address address = new Address();\n\n    accountReq.setCode(accountCode);\n    accountReq.setFirstName(\"Aaron\");\n    accountReq.setLastName(\"Du Monde\");\n    accountReq.setPreferredTimeZone(\"America/Chicago\");\n\n    address.setStreet1(\"900 Camp St.\");\n    address.setCity(\"New Orleans\");\n    address.setRegion(\"LA\");\n    address.setCountry(\"US\");\n    address.setPostalCode(\"70115\");\n\n    accountReq.setAddress(address);\n\n    Account account = client.createAccount(accountReq);\n    System.out.println(\"Created account \" + account.getCode());\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the\
          \ API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
      - lang: PHP
        source: "try {\n    $account_create = [\n        \"code\" => $account_code,\n        \"first_name\" => \"Douglas\",\n        \"last_name\" => \"DuMonde\",\n        \"preferred_time_zone\" => \"America/Chicago\",\n        \"shipping_addresses\" => [\n            [\n                \"first_name\" => \"Douglas\",\n                \"last_name\" => \"DuMonde\",\n                \"nickname\" => \"nola\",\n                \"street1\" => \"1 Tchoupitoulas\",\n                \"city\" => \"New Orleans\",\n                \"postal_code\" => \"70130\",\n                \"country\" => \"US\"\n            ]\n        ]\n    ];\n\n    $account = $client->createAccount($account_create);\n\n    echo 'Created Account:' . PHP_EOL;\n    var_dump($account);\n} catch (\\Recurly\\Errors\\Validation $e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n\
          \    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    var_dump($e);\n}\n"
      - lang: Go
        source: "accountReq := &recurly.AccountCreate{\n\tCode:      &accountCode,\n\tFirstName: recurly.String(\"Isaac\"),\n\tLastName:  recurly.String(\"Du Monde\"),\n\tEmail:     recurly.String(\"isaac@example.com\"),\n\tPreferredTimeZone: recurly.String(\"America/Los_Angeles\"),\n\tBillingInfo: &recurly.BillingInfoCreate{\n\t\tFirstName: recurly.String(\"Isaac\"),\n\t\tLastName:  recurly.String(\"Du Monde\"),\n\t\tAddress: &recurly.AddressCreate{\n\t\t\tPhone:      recurly.String(\"415-555-5555\"),\n\t\t\tStreet1:    recurly.String(\"400 Alabama St.\"),\n\t\t\tCity:       recurly.String(\"San Francisco\"),\n\t\t\tPostalCode: recurly.String(\"94110\"),\n\t\t\tCountry:    recurly.String(\"US\"),\n\t\t\tRegion:     recurly.String(\"CA\"),\n\t\t},\n\t\tNumber: recurly.String(\"4111111111111111\"),\n\t\tMonth:  recurly.String(\"12\"),\n\t\tYear:   recurly.String(\"30\"),\n\t\tCvv:    recurly.String(\"123\"),\n\t},\n}\n\naccount, err := client.CreateAccount(accountReq)\nif e, ok := err.(*recurly.Error);\
          \ ok {\n\tif e.Type == recurly.ErrorTypeValidation {\n\t\tfmt.Printf(\"Failed validation: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Created Account: %s\", account.Id)"
      x-readme:
        code-samples:
        - language: node
          code: "try {\n  const accountCreate = {\n    code: accountCode,\n    firstName: 'Benjamin',\n    lastName: 'Du Monde',\n    preferredTimeZone: 'America/Chicago',\n    address: {\n      street1: '900 Camp St',\n      city: 'New Orleans',\n      region: 'LA',\n      postalCode: '70115',\n      country: 'US'\n    }\n  }\n  const account = await client.createAccount(accountCreate)\n  console.log('Created Account: ', account.code)\n} catch (err) {\n  if (err instanceof recurly.errors.ValidationError) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    console.log('Failed validation', err.params)\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          name: Node.js
        - language: python
          code: "try:\n    account_create = {\n        \"code\": account_code,\n        \"first_name\": \"Benjamin\",\n        \"last_name\": \"Du Monde\",\n        \"preferred_time_zone\": \"America/Chicago\",\n        \"acquisition\": {\n            \"campaign\": \"podcast-marketing\",\n            \"channel\": \"social_media\",\n            \"subchannel\": \"twitter\",\n            \"cost\": {\"currency\": \"USD\", \"amount\": 0.50},\n        },\n        \"shipping_addresses\": [\n            {\n                \"nickname\": \"Home\",\n                \"street1\": \"1 Tchoupitoulas St\",\n                \"city\": \"New Orleans\",\n                \"region\": \"LA\",\n                \"country\": \"US\",\n                \"postal_code\": \"70115\",\n                \"first_name\": \"Aaron\",\n                \"last_name\": \"Du Monde\",\n            }\n        ],\n    }\n    account = client.create_account(account_create)\n    print(\"Created Account %s\" % account)\nexcept recurly.errors.ValidationError\
            \ as e:\n    # If the request was invalid, you may want to tell your user\n    # why. You can find the invalid params and reasons in e.error.params\n    print(\"ValidationError: %s\" % e.error.message)\n    print(e.error.params)\n"
          name: Python
        - language: csharp
          code: "try\n{\n    var accountReq = new AccountCreate()\n    {\n        Code = accountCode,\n        FirstName = \"Benjamin\",\n        LastName = \"Du Monde\",\n        PreferredTimeZone = \"America/Chicago\",\n        Address = new Address()\n        {\n            City = \"New Orleans\",\n            Region = \"LA\",\n            Country = \"US\",\n            PostalCode = \"70115\",\n            Street1 = \"900 Camp St.\"\n        }\n    };\n    Account account = client.CreateAccount(accountReq);\n    Console.WriteLine($\"Created account {account.Code}\");\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\"\
            );\n}\n"
          name: .NET
        - language: ruby
          code: "begin\n  account_create = {\n    code: account_code,\n    first_name: \"Benjamin\",\n    last_name: \"Du Monde\",\n    preferred_time_zone: \"America/Chicago\",\n    acquisition: {\n      campaign: \"podcast-marketing\",\n      channel: \"social_media\",\n      subchannel: \"twitter\",\n      cost: {\n        currency: \"USD\",\n        amount: 0.50\n      }\n    },\n    shipping_addresses: [\n      {\n        nickname: \"Home\",\n        street1: \"1 Tchoupitoulas St\",\n        city: \"New Orleans\",\n        region: \"LA\",\n        country: \"US\",\n        postal_code: \"70115\",\n        first_name: \"Benjamin\",\n        last_name: \"Du Monde\"\n      }\n    ]\n  }\n  account = @client.create_account(body: account_create)\n  puts \"Created Account #{account}\"\nrescue Recurly::Errors::ValidationError => e\n  # If the request was invalid, you may want to tell your user\n  # why. You can find the invalid params and reasons in e.recurly_error.params\n  puts \"ValidationError:\
            \ #{e.recurly_error.params}\"\nend\n"
          name: Ruby
        - language: java
          code: "try {\n    AccountCreate accountReq = new AccountCreate();\n    Address address = new Address();\n\n    accountReq.setCode(accountCode);\n    accountReq.setFirstName(\"Aaron\");\n    accountReq.setLastName(\"Du Monde\");\n    accountReq.setPreferredTimeZone(\"America/Chicago\");\n\n    address.setStreet1(\"900 Camp St.\");\n    address.setCity(\"New Orleans\");\n    address.setRegion(\"LA\");\n    address.setCountry(\"US\");\n    address.setPostalCode(\"70115\");\n\n    accountReq.setAddress(address);\n\n    Account account = client.createAccount(accountReq);\n    System.out.println(\"Created account \" + account.getCode());\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the\
            \ API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          name: Java
        - language: php
          code: "try {\n    $account_create = [\n        \"code\" => $account_code,\n        \"first_name\" => \"Douglas\",\n        \"last_name\" => \"DuMonde\",\n        \"preferred_time_zone\" => \"America/Chicago\",\n        \"shipping_addresses\" => [\n            [\n                \"first_name\" => \"Douglas\",\n                \"last_name\" => \"DuMonde\",\n                \"nickname\" => \"nola\",\n                \"street1\" => \"1 Tchoupitoulas\",\n                \"city\" => \"New Orleans\",\n                \"postal_code\" => \"70130\",\n                \"country\" => \"US\"\n            ]\n        ]\n    ];\n\n    $account = $client->createAccount($account_create);\n\n    echo 'Created Account:' . PHP_EOL;\n    var_dump($account);\n} catch (\\Recurly\\Errors\\Validation $e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n\
            \    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    var_dump($e);\n}\n"
          name: PHP
        - language: go
          code: "accountReq := &recurly.AccountCreate{\n\tCode:      &accountCode,\n\tFirstName: recurly.String(\"Isaac\"),\n\tLastName:  recurly.String(\"Du Monde\"),\n\tEmail:     recurly.String(\"isaac@example.com\"),\n\tPreferredTimeZone: recurly.String(\"America/Los_Angeles\"),\n\tBillingInfo: &recurly.BillingInfoCreate{\n\t\tFirstName: recurly.String(\"Isaac\"),\n\t\tLastName:  recurly.String(\"Du Monde\"),\n\t\tAddress: &recurly.AddressCreate{\n\t\t\tPhone:      recurly.String(\"415-555-5555\"),\n\t\t\tStreet1:    recurly.String(\"400 Alabama St.\"),\n\t\t\tCity:       recurly.String(\"San Francisco\"),\n\t\t\tPostalCode: recurly.String(\"94110\"),\n\t\t\tCountry:    recurly.String(\"US\"),\n\t\t\tRegion:     recurly.String(\"CA\"),\n\t\t},\n\t\tNumber: recurly.String(\"4111111111111111\"),\n\t\tMonth:  recurly.String(\"12\"),\n\t\tYear:   recurly.String(\"30\"),\n\t\tCvv:    recurly.String(\"123\"),\n\t},\n}\n\naccount, err := client.CreateAccount(accountReq)\nif e, ok := err.(*recurly.Error);\
            \ ok {\n\tif e.Type == recurly.ErrorTypeValidation {\n\t\tfmt.Printf(\"Failed validation: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Created Account: %s\", account.Id)"
          name: Go
  /accounts/{accountId}:
    get:
      tags:
      - account
      summary: Fetch an account
      operationId: getAccount
      responses:
        '200':
          description: An account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Node.js
        source: "try {\n  const account = await client.getAccount(accountId)\n  console.log('Fetched account: ', account.code)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
      - lang: Python
        source: "try:\n    account = client.get_account(account_id)\n    print(\"Got Account %s\" % account)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
      - lang: .NET
        source: "try\n{\n    Account account = client.GetAccount(accountId);\n    Console.WriteLine($\"Fetched account {account.Code}\");\n}\ncatch (Recurly.Errors.NotFound ex)\n{\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    Console.WriteLine($\"Resource Not Found: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
      - lang: Ruby
        source: "begin\n  account = @client.get_account(account_id: account_id)\n  puts \"Got Account #{account}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
      - lang: Java
        source: "try {\n    final Account account = client.getAccount(accountId);\n    System.out.println(\"Fetched account: \" + account.getCode());\n} catch (NotFoundException e) {\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    System.out.println(\"Resource Not Found: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
      - lang: PHP
        source: "try {\n    $account = $client->getAccount($account_id);\n\n    echo 'Got Account:' . PHP_EOL;\n    var_dump($account);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
      - lang: Go
        source: "account, err := client.GetAccount(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Println(\"Fetched Account \", account.Id)"
      x-readme:
        code-samples:
        - language: node
          code: "try {\n  const account = await client.getAccount(accountId)\n  console.log('Fetched account: ', account.code)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          name: Node.js
        - language: python
          code: "try:\n    account = client.get_account(account_id)\n    print(\"Got Account %s\" % account)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
          name: Python
        - language: csharp
          code: "try\n{\n    Account account = client.GetAccount(accountId);\n    Console.WriteLine($\"Fetched account {account.Code}\");\n}\ncatch (Recurly.Errors.NotFound ex)\n{\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    Console.WriteLine($\"Resource Not Found: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          name: .NET
        - language: ruby
          code: "begin\n  account = @client.get_account(account_id: account_id)\n  puts \"Got Account #{account}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
          name: Ruby
        - language: java
          code: "try {\n    final Account account = client.getAccount(accountId);\n    System.out.println(\"Fetched account: \" + account.getCode());\n} catch (NotFoundException e) {\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    System.out.println(\"Resource Not Found: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          name: Java
        - language: php
          code: "try {\n    $account = $client->getAccount($account_id);\n\n    echo 'Got Account:' . PHP_EOL;\n    var_dump($account);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
          name: PHP
        - language: go
          code: "account, err := client.GetAccount(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Println(\"Fetched Account \", account.Id)"
          name: Go
    put:
      tags:
      - account
      summary: Update an account
      operationId: updateAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdate'
        required: true
        description: 'Request payload for: Update an account'
      responses:
        '200':
          description: An account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Bad request, perhaps invalid JSON?
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Incorrect site or account ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Invalid parameters or an error running the billing info verification transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMayHaveTransaction'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Node.js
        source: "try {\n  const accountUpdate = {\n    firstName: 'Aaron',\n    lastName: 'Du Monde'\n  }\n  const account = await client.updateAccount(accountId, accountUpdate)\n  console.log('Updated account: ', account)\n} catch (err) {\n  if (err instanceof recurly.errors.ValidationError) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    console.log('Failed validation', err.params)\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
      - lang: Python
        source: "try:\n    account_update = {\"first_name\": \"Aaron\", \"last_name\": \"Du Monde\"}\n    account = client.update_account(account_id, account_update)\n    print(\"Updated Account %s\" % account)\nexcept recurly.errors.ValidationError as e:\n    # If the request was invalid, you may want to tell your user\n    # why. You can find the invalid params and reasons in e.error.params\n    print(\"ValidationError: %s\" % e.error.message)\n    print(e.error.params)\n"
      - lang: .NET
        source: "try\n{\n    var accountReq = new AccountUpdate() {\n        FirstName = \"Aaron\",\n        LastName = \"Du Monde\"\n    };\n    Account account = client.UpdateAccount(accountId, accountReq);\n    Console.WriteLine(account.FirstName);\n    Console.WriteLine(account.LastName);\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
      - lang: Ruby
        source: "begin\n  account_update = {\n    first_name: \"Aaron\",\n    last_name: \"Du Monde\",\n  }\n  account = @client.update_account(\n    account_id: account_id,\n    body: account_update\n  )\n  puts \"Updated Account #{account}\"\nrescue Recurly::Errors::ValidationError => e\n  # If the request was invalid, you may want to tell your user\n  # why. You can find the invalid params and reasons in e.recurly_error.params\n  puts \"ValidationError: #{e.recurly_error.params}\"\nend\n"
      - lang: Java
        source: "try {\n    final AccountUpdate accountUpdate = new AccountUpdate();\n    accountUpdate.setFirstName(\"Aaron\");\n    accountUpdate.setLastName(\"Du Monde\");\n\n    final Account account = client.updateAccount(accountId, accountUpdate);\n    System.out.println(\"Updated account: \" + account.getCode());\n    System.out.println(account.getFirstName());\n    System.out.println(account.getLastName());\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
      - lang: PHP
        source: "try {\n    $account_update = [\n        \"first_name\" => \"Douglas\",\n        \"last_name\" => \"Du Monde\",\n    ];\n\n    $account = $client->updateAccount($account_id, $account_update);\n\n    echo 'Updated Account:' . PHP_EOL;\n    var_dump($account);\n} catch (\\Recurly\\Errors\\Validation $e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    var_dump($e);\n}\n"
      - lang: Go
        source: "updateReq := &recurly.AccountUpdate{\n\tFirstName: recurly.String(\"Joanna\"),\n\tLastName:  recurly.String(\"DuMonde\"),\n}\naccount, err := client.UpdateAccount(accountID, updateReq)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeValidation {\n\t\tfmt.Printf(\"Failed validation: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Updated Account: %s\", account.Id)"
      x-readme:
        code-samples:
        - language: node
          code: "try {\n  const accountUpdate = {\n    firstName: 'Aaron',\n    lastName: 'Du Monde'\n  }\n  const account = await client.updateAccount(accountId, accountUpdate)\n  console.log('Updated account: ', account)\n} catch (err) {\n  if (err instanceof recurly.errors.ValidationError) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    console.log('Failed validation', err.params)\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          name: Node.js
        - language: python
          code: "try:\n    account_update = {\"first_name\": \"Aaron\", \"last_name\": \"Du Monde\"}\n    account = client.update_account(account_id, account_update)\n    print(\"Updated Account %s\" % account)\nexcept recurly.errors.ValidationError as e:\n    # If the request was invalid, you may want to tell your user\n    # why. You can find the invalid params and reasons in e.error.params\n    print(\"ValidationError: %s\" % e.error.message)\n    print(e.error.params)\n"
          name: Python
        - language: csharp
          code: "try\n{\n    var accountReq = new AccountUpdate() {\n        FirstName = \"Aaron\",\n        LastName = \"Du Monde\"\n    };\n    Account account = client.UpdateAccount(accountId, accountReq);\n    Console.WriteLine(account.FirstName);\n    Console.WriteLine(account.LastName);\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          name: .NET
        - language: ruby
          code: "begin\n  account_update = {\n    first_name: \"Aaron\",\n    last_name: \"Du Monde\",\n  }\n  account = @client.update_account(\n    account_id: account_id,\n    body: account_update\n  )\n  puts \"Updated Account #{account}\"\nrescue Recurly::Errors::ValidationError => e\n  # If the request was invalid, you may want to tell your user\n  # why. You can find the invalid params and reasons in e.recurly_error.params\n  puts \"ValidationError: #{e.recurly_error.params}\"\nend\n"
          name: Ruby
        - language: java
          code: "try {\n    final AccountUpdate accountUpdate = new AccountUpdate();\n    accountUpdate.setFirstName(\"Aaron\");\n    accountUpdate.setLastName(\"Du Monde\");\n\n    final Account account = client.updateAccount(accountId, accountUpdate);\n    System.out.println(\"Updated account: \" + account.getCode());\n    System.out.println(account.getFirstName());\n    System.out.println(account.getLastName());\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          name: Java
        - language: php
          code: "try {\n    $account_update = [\n        \"first_name\" => \"Douglas\",\n        \"last_name\" => \"Du Monde\",\n    ];\n\n    $account = $client->updateAccount($account_id, $account_update);\n\n    echo 'Updated Account:' . PHP_EOL;\n    var_dump($account);\n} catch (\\Recurly\\Errors\\Validation $e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    var_dump($e);\n}\n"
          name: PHP
        - language: go
          code: "updateReq := &recurly.AccountUpdate{\n\tFirstName: recurly.String(\"Joanna\"),\n\tLastName:  recurly.String(\"DuMonde\"),\n}\naccount, err := client.UpdateAccount(accountID, updateReq)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeValidation {\n\t\tfmt.Printf(\"Failed validation: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Updated Account: %s\", account.Id)"
          name: Go
    delete:
      tags:
      - account
      summary: Deactivate an account
      description: Deactivating an account permanently deletes its billing information and cancels any active subscriptions (canceled subscriptions will remain active until the end of the current billing cycle before expiring). We recommend closing accounts only when all business is concluded with a customer.
      operationId: deactivateAccount
      parameters:
      - name: redact
        in: query
        description: Permanently removes all personally identifiable information (PII) from this account after it has been deactivated, to fulfill a data subject's right to erasure under GDPR and similar privacy regulations (e.g. CCPA). Cannot be undone
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: An account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '422':
          description: Account may already be inactive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Node.js
        source: "try {\n  const account = await client.deactivateAccount(accountId)\n  console.log('Deleted account: ', account.code)\n} catch (err) {\n  if (err && err.type === 'not-found') {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  }\n  // If we don't know what to do with the err, we should\n  // probably re-raise and let our web framework and logger handle it\n  throw err\n}\n"
      - lang: Python
        source: "try:\n    account = client.deactivate_account(account_id)\n    print(\"Deactivated Account %s\" % account)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
      - lang: .NET
        source: "try\n{\n    Account account = client.DeactivateAccount(accountId);\n    Console.WriteLine($\"Deactivated account {account.Code}\");\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
      - lang: Ruby
        source: "begin\n  account = @client.deactivate_account(account_id: account_id)\n  puts \"Deactivated Account #{account}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
      - lang: Java
        source: "try {\n    Account account = client.deactivateAccount(accountId);\n    System.out.println(\"deactivated account \" + account.getCode());\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
      - lang: PHP
        source: "try {\n    $account = $client->deactivateAccount($account_id);\n\n    echo 'Deactivated Account:' . PHP_EOL;\n    var_dump($account);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
      - lang: Go
        source: "account, err := client.DeactivateAccount(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Deactivated Account: %s\", account.Id)"
      x-readme:
        code-samples:
        - language: node
          code: "try {\n  const account = await client.deactivateAccount(accountId)\n  console.log('Deleted account: ', account.code)\n} catch (err) {\n  if (err && err.type === 'not-found') {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  }\n  // If we don't know what to do with the err, we should\n  // probably re-raise and let our web framework and logger handle it\n  throw err\n}\n"
          name: Node.js
        - language: python
          code: "try:\n    account = client.deactivate_account(account_id)\n    print(\"Deactivated Account %s\" % account)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
          name: Python
        - language: csharp
          code: "try\n{\n    Account account = client.DeactivateAccount(accountId);\n    Console.WriteLine($\"Deactivated account {account.Code}\");\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          name: .NET
        - language: ruby
          code: "begin\n  account = @client.deactivate_account(account_id: account_id)\n  puts \"Deactivated Account #{account}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
          name: Ruby
        - language: java
          code: "try {\n    Account account = client.deactivateAccount(accountId);\n    System.out.println(\"deactivated account \" + account.getCode());\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          name: Java
        - language: php
          code: "try {\n    $account = $client->deactivateAccount($account_id);\n\n    echo 'Deactivated Account:' . PHP_EOL;\n    var_dump($account);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
          name: PHP
        - language: go
          code: "account, err := client.DeactivateAccount(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Deactivated Account: %s\", account.Id)"
          name: Go
    parameters:
    - $ref: '#/components/parameters/account_id'
  /accounts/{accountId}/redact:
    put:
      tags:
      - account
      summary: Redact an account (GDPR Right to Erasure)
      description: Permanently and irreversibly removes all personally identifiable information (PII) from an account to fulfill a data subject's right to erasure under GDPR and similar privacy regulations (e.g. CCPA). This includes billing information, shipping addresses, and transaction details such as names, email addresses, and payment card data. The underlying account and transaction records are retained for financial and audit purposes, but all personal data fields are cleared. The account must have no active subscriptions, uninvoiced charges, or partially paid invoices before it can be redacted. Redaction is processed asynchronously and cannot be undone.
      operationId: redactAccount
      responses:
        '200':
          description: Account has been accepted for redaction and will be processed asynchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '422':
          description: Account cannot be redacted. Common reasons include active subscriptions, uninvoiced charges, or partially paid invoices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples: []
    parameters:
    - $ref: '#/components/parameters/account_id'
  /accounts/{accountId}/acquisition:
    get:
      tags:
      - account_acquisition
      summary: Fetch an account's acquisition data
      operationId: getAccountAcquisition
      responses:
        '200':
          description: An account's acquisition data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAcquisition'
        '404':
          description: Account has no acquisition data, or incorrect site or account ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Node.js
        source: "try {\n  const acquisition = await client.getAccountAcquisition(accountId)\n  console.log('Fetched account acquisition: ', acquisition.id)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
      - lang: Python
        source: "try:\n    acquisition = client.get_account_acquisition(account_id)\n    print(\"Got AccountAcquisition %s\" % acquisition)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
      - lang: .NET
        source: "try\n{\n    AccountAcquisition acquisition = client.GetAccountAcquisition(accountId);\n    Console.WriteLine($\"Fetched account acquisition {acquisition.Id}\");\n}\ncatch (Recurly.Errors.NotFound ex)\n{\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    Console.WriteLine($\"Resource Not Found: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
      - lang: Ruby
        source: "begin\n  @client.get_account_acquisition(account_id: account_id)\n  puts \"Got AccountAcquisition\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
      - lang: Java
        source: "try {\n    final AccountAcquisition acquisition = client.getAccountAcquisition(accountId);\n    System.out.println(\"Fetched account acquisition \" + acquisition.getId());\n} catch (NotFoundException e) {\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    System.out.println(\"Resource Not Found: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
      - lang: PHP
        source: "try {\n    $acquisition = $client->getAccountAcquisition($account_id);\n\n    echo 'Got Account Acquisition:' . PHP_EOL;\n    var_dump($acquisition);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
      - lang: Go
        source: "accountAcq, err := client.GetAccountAcquisition(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Fetched Account Acquisition: %v\", accountAcq.Id)"
      x-readme:
        code-samples:
        - language: node
          code: "try {\n  const acquisition = await client.getAccountAcquisition(accountId)\n  console.log('Fetched account acquisition: ', acquisition.id)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          name: Node.js
        - language: python
          code: "try:\n    acquisition = client.get_account_acquisition(account_id)\n    print(\"Got AccountAcquisition %s\" % acquisition)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
          name: Python
        - language: csharp
          code: "try\n{\n    AccountAcquisition acquisition = client.GetAccountAcquisition(accountId);\n    Console.WriteLine($\"Fetched account acquisition {acquisition.Id}\");\n}\ncatch (Recurly.Errors.NotFound ex)\n{\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    Console.WriteLine($\"Resource Not Found: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          name: .NET
        - language: ruby
          code: "begin\n  @client.get_account_acquisition(account_id: account_id)\n  puts \"Got AccountAcquisition\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
          name: Ruby
        - language: java
          code: "try {\n    final AccountAcquisition acquisition = client.getAccountAcquisition(accountId);\n    System.out.println(\"Fetched account acquisition \" + acquisition.getId());\n} catch (NotFoundException e) {\n    // If the resource was not found\n    // we may want to alert the user or just return null\n    System.out.println(\"Resource Not Found: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          name: Java
        - language: php
          code: "try {\n    $acquisition = $client->getAccountAcquisition($account_id);\n\n    echo 'Got Account Acquisition:' . PHP_EOL;\n    var_dump($acquisition);\n} catch (\\Recurly\\Errors\\NotFound $e) {\n    // Could not find the resource, you may want to inform the user\n    // or just return a NULL\n    echo 'Could not find resource.' . PHP_EOL;\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // Something bad happened... tell the user so that they can fix it?\n    echo 'Some unexpected Recurly error happened. Try again later.' . PHP_EOL;\n}\n"
          name: PHP
        - language: go
          code: "accountAcq, err := client.GetAccountAcquisition(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Fetched Account Acquisition: %v\", accountAcq.Id)"
          name: Go
    put:
      tags:
      - account_acquisition
      summary: Update an account's acquisition data
      operationId: updateAccountAcquisition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountAcquisitionUpdate'
        required: true
        description: 'Request payload for: Update an account''s acquisition data'
      responses:
        '200':
          description: An account's updated acquisition data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAcquisition'
        '400':
          description: Bad request; perhaps missing or invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Incorrect site or account ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: A validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Node.js
        source: "try {\n  const acquisitionUpdate = {\n    campaign: \"big-event-campaign\",\n    channel: \"social_media\",\n    subchannel: \"twitter\"\n  }\n  const accountAcquisition = await client.updateAccountAcquisition(accountId, acquisitionUpdate)\n  console.log('Edited Account Acquisition: ', accountAcquisition)\n} catch (err) {\n  if (err instanceof recurly.errors.ValidationError) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    console.log('Failed validation', err.params)\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
      - lang: Python
        source: "try:\n    acquisition_update = {\n        \"campaign\": \"podcast-marketing\",\n        \"channel\": \"social_media\",\n        \"subchannel\": \"twitter\",\n        \"cost\": {\"currency\": \"USD\", \"amount\": 0.50},\n    }\n    acquisition = client.update_account_acquisition(account_id, acquisition_update)\n    print(\"Updated AccountAcquisition %s\" % acquisition)\nexcept recurly.errors.ValidationError as e:\n    # If the request was invalid, you may want to tell your user\n    # why. You can find the invalid params and reasons in e.error.params\n    print(\"ValidationError: %s\" % e.error.message)\n    print(e.error.params)\n"
      - lang: .NET
        source: "try\n{\n    var acquisitionReq = new AccountAcquisitionUpdate()\n    {\n        Campaign = \"big-event-campaign\",\n        Channel = Channel.SocialMedia,\n        Subchannel = \"twitter\"\n    };\n    AccountAcquisition accountAcquisition = client.UpdateAccountAcquisition(accountId, acquisitionReq);\n    Console.WriteLine(accountAcquisition);\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
      - lang: Ruby
        source: "begin\n  acquisition_update = {\n    campaign: \"podcast-marketing\",\n    channel: \"social_media\",\n    subchannel: \"twitter\",\n    cost: {\n      currency: \"USD\",\n      amount: 0.50\n    }\n  }\n  acquisition = @client.update_account_acquisition(\n    account_id: account_id,\n    body: acquisition_update\n  )\n  puts \"Updated AccountAcqusition #{acquisition}\"\nrescue Recurly::Errors::ValidationError => e\n  # If the request was invalid, you may want to tell your user\n  # why. You can find the invalid params and reasons in e.recurly_error.params\n  puts \"ValidationError: #{e.recurly_error.params}\"\nend\n"
      - lang: Java
        source: "try {\n    final AccountAcquisitionUpdate acqUpdate = new AccountAcquisitionUpdate();\n    acqUpdate.setCampaign(\"big-event-campaign\");\n    acqUpdate.setChannel(Constants.Channel.SOCIAL_MEDIA);\n    acqUpdate.setSubchannel(\"twitter\");\n\n    final AccountAcquisition accountAcquisition = client.updateAccountAcquisition(accountId, acqUpdate);\n    System.out.println(accountAcquisition);\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
      - lang: PHP
        source: "try {\n    $acquisition_update = [\n        \"campaign\" => \"big-event-campaign\",\n        \"channel\" => \"social_media\",\n        \"subchannel\" => \"twitter\"\n    ];\n    $acquisition = $client->updateAccountAcquisition($account_id, $acquisition_update);\n\n    echo 'Updated AccountAcquisition:' . PHP_EOL;\n    var_dump($acquisition);\n} catch (\\Recurly\\Errors\\Validation $e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    var_dump($e);\n}\n"
      - lang: Go
        source: "updateReq := &recurly.AccountAcquisitionUpdate{\n\tCampaign:   recurly.String(\"big-event-campaign\"),\n\tChannel:    recurly.String(\"social_media\"),\n\tSubchannel: recurly.String(\"twitter\"),\n}\naccount, err := client.UpdateAccountAcquisition(accountID, updateReq)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeValidation {\n\t\tfmt.Printf(\"Failed validation: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Updated Account Acquisition: %s\", account.Id)"
      x-readme:
        code-samples:
        - language: node
          code: "try {\n  const acquisitionUpdate = {\n    campaign: \"big-event-campaign\",\n    channel: \"social_media\",\n    subchannel: \"twitter\"\n  }\n  const accountAcquisition = await client.updateAccountAcquisition(accountId, acquisitionUpdate)\n  console.log('Edited Account Acquisition: ', accountAcquisition)\n} catch (err) {\n  if (err instanceof recurly.errors.ValidationError) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    console.log('Failed validation', err.params)\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          name: Node.js
        - language: python
          code: "try:\n    acquisition_update = {\n        \"campaign\": \"podcast-marketing\",\n        \"channel\": \"social_media\",\n        \"subchannel\": \"twitter\",\n        \"cost\": {\"currency\": \"USD\", \"amount\": 0.50},\n    }\n    acquisition = client.update_account_acquisition(account_id, acquisition_update)\n    print(\"Updated AccountAcquisition %s\" % acquisition)\nexcept recurly.errors.ValidationError as e:\n    # If the request was invalid, you may want to tell your user\n    # why. You can find the invalid params and reasons in e.error.params\n    print(\"ValidationError: %s\" % e.error.message)\n    print(e.error.params)\n"
          name: Python
        - language: csharp
          code: "try\n{\n    var acquisitionReq = new AccountAcquisitionUpdate()\n    {\n        Campaign = \"big-event-campaign\",\n        Channel = Channel.SocialMedia,\n        Subchannel = \"twitter\"\n    };\n    AccountAcquisition accountAcquisition = client.UpdateAccountAcquisition(accountId, acquisitionReq);\n    Console.WriteLine(accountAcquisition);\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          name: .NET
        - language: ruby
          code: "begin\n  acquisition_update = {\n    campaign: \"podcast-marketing\",\n    channel: \"social_media\",\n    subchannel: \"twitter\",\n    cost: {\n      currency: \"USD\",\n      amount: 0.50\n    }\n  }\n  acquisition = @client.update_account_acquisition(\n    account_id: account_id,\n    body: acquisition_update\n  )\n  puts \"Updated AccountAcqusition #{acquisition}\"\nrescue Recurly::Errors::ValidationError => e\n  # If the request was invalid, you may want to tell your user\n  # why. You can find the invalid params and reasons in e.recurly_error.params\n  puts \"ValidationError: #{e.recurly_error.params}\"\nend\n"
          name: Ruby
        - language: java
          code: "try {\n    final AccountAcquisitionUpdate acqUpdate = new AccountAcquisitionUpdate();\n    acqUpdate.setCampaign(\"big-event-campaign\");\n    acqUpdate.setChannel(Constants.Channel.SOCIAL_MEDIA);\n    acqUpdate.setSubchannel(\"twitter\");\n\n    final AccountAcquisition accountAcquisition = client.updateAccountAcquisition(accountId, acqUpdate);\n    System.out.println(accountAcquisition);\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
          name: Java
        - language: php
          code: "try {\n    $acquisition_update = [\n        \"campaign\" => \"big-event-campaign\",\n        \"channel\" => \"social_media\",\n        \"subchannel\" => \"twitter\"\n    ];\n    $acquisition = $client->updateAccountAcquisition($account_id, $acquisition_update);\n\n    echo 'Updated AccountAcquisition:' . PHP_EOL;\n    var_dump($acquisition);\n} catch (\\Recurly\\Errors\\Validation $e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    var_dump($e);\n}\n"
          name: PHP
        - language: go
          code: "updateReq := &recurly.AccountAcquisitionUpdate{\n\tCampaign:   recurly.String(\"big-event-campaign\"),\n\tChannel:    recurly.String(\"social_media\"),\n\tSubchannel: recurly.String(\"twitter\"),\n}\naccount, err := client.UpdateAccountAcquisition(accountID, updateReq)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeValidation {\n\t\tfmt.Printf(\"Failed validation: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Updated Account Acquisition: %s\", account.Id)"
          name: Go
    delete:
      tags:
      - account_acquisition
      summary: Remove an account's acquisition data
      operationId: removeAccountAcquisition
      responses:
        '204':
          description: Acquisition data was succesfully deleted
        '404':
          description: Incorrect site or account ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-code-samples:
      - lang: Node.js
        source: "try {\n  await client.removeAccountAcquisition(accountId)\n  console.log('Removed account acquisition from account: ', accountId)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
      - lang: Python
        source: "try:\n    client.remove_account_acquisition(account_id)\n    print(\"Removed AccountAcquisition for Account id=%s\" % account_id)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
      - lang: .NET
        source: "try\n{\n    client.RemoveAccountAcquisition(accountId);\n    Console.WriteLine($\"Removed account acquisition from account {accountId}\");\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
      - lang: Ruby
        source: "begin\n  acquisition = @client.remove_account_acquisition(account_id: account_id)\n  puts \"Removed AccountAcqusition #{acquisition}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
      - lang: Java
        source: "try {\n    client.removeAccountAcquisition(accountId);\n    System.out.println(\"Removed account acquisition from account \" + accountId);\n} catch (ValidationException e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in e.getError().getParams()\n    System.out.println(\"Failed validation: \" + e.getError().getMessage());\n} catch (ApiException e) {\n    // Use ApiException to catch a generic error from the API\n    System.out.println(\"Unexpected Recurly Error: \" + e.getError().getMessage());\n}\n"
      - lang: PHP
        source: "try {\n    $client->removeAccountAcquisition($account_id);\n    echo \"Removed Account Acquisition:\" . PHP_EOL;\n} catch (\\Recurly\\Errors\\Validation $e) {\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in err.params\n    var_dump($e);\n} catch (\\Recurly\\RecurlyError $e) {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    var_dump($e);\n}"
      - lang: Go
        source: "client.RemoveAccountAcquisition(accountID)\nif e, ok := err.(*recurly.Error); ok {\n\tif e.Type == recurly.ErrorTypeNotFound {\n\t\tfmt.Printf(\"Resource not found: %v\", e)\n\t\treturn nil, err\n\t}\n\tfmt.Printf(\"Unexpected Recurly error: %v\", e)\n\treturn nil, err\n}\nfmt.Printf(\"Removed Account Acquisition: %s\", accountAcquisition.Id)"
      x-readme:
        code-samples:
        - language: node
          code: "try {\n  await client.removeAccountAcquisition(accountId)\n  console.log('Removed account acquisition from account: ', accountId)\n} catch (err) {\n  if (err instanceof recurly.errors.NotFoundError) {\n    // If the request was not found, you may want to alert the user or\n    // just return null\n    console.log('Resource Not Found')\n  } else {\n    // If we don't know what to do with the err, we should\n    // probably re-raise and let our web framework and logger handle it\n    console.log('Unknown Error: ', err)\n  }\n}\n"
          name: Node.js
        - language: python
          code: "try:\n    client.remove_account_acquisition(account_id)\n    print(\"Removed AccountAcquisition for Account id=%s\" % account_id)\nexcept recurly.errors.NotFoundError:\n    # If the resource was not found, you may want to alert the user or\n    # just return nil\n    print(\"Resource Not Found\")\n"
          name: Python
        - language: csharp
          code: "try\n{\n    client.RemoveAccountAcquisition(accountId);\n    Console.WriteLine($\"Removed account acquisition from account {accountId}\");\n}\ncatch (Recurly.Errors.Validation ex)\n{\n    // If the request was not valid, you may want to tell your user\n    // why. You can find the invalid params and reasons in ex.Error.Params\n    Console.WriteLine($\"Failed validation: {ex.Error.Message}\");\n}\ncatch (Recurly.Errors.ApiError ex)\n{\n    // Use ApiError to catch a generic error from the API\n    Console.WriteLine($\"Unexpected Recurly Error: {ex.Error.Message}\");\n}\n"
          name: .NET
        - language: ruby
          code: "begin\n  acquisition = @client.remove_account_acquisition(account_id: account_id)\n  puts \"Removed AccountAcqusition #{acquisition}\"\nrescue Recurly::Errors::NotFoundError\n  # If the resource was not found, you may want to alert the user or\n  # just return nil\n  puts \"Resource Not Found\"\nend\n"
          name: Ruby
        - language: java
[...]
